.blog {
  .content {
    padding-bottom: 40px;

    .cards {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 12px;

      .card {
        border-bottom: 1px solid #45454569;
        padding-bottom: 16px;
        img {
          width: 100%;
        }
        .title {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 12px;
          h3 {
            max-width: 310px;
            font-family: Manrope;
            font-size: 20px;
            font-weight: 700;
            line-height: 26px;
            text-align: left;
            color: #454545;
            padding: 29px 0 23px;
          }
          svg {
            font-size: 32px;
          }
        }
        p {
          font-family: Manrope;
          font-size: 14px;
          font-weight: 500;
          line-height: 15.4px;
          text-align: left;
          color: #454545;
        }
      }
    }
  }
  @media only screen and (max-width: 636px) {
    .content {
      .cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
  @media only screen and (max-width: 474px) {
    .content {
      .cards {
        display: grid;
        grid-template-columns: 1fr;
      }
    }
  }
}
