.login {
  padding: 60px 0;
  position: absolute;
  background: #fff;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 101;
  form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    flex-direction: column;
    padding-top: 120px;
    input {
      outline: none;
      border: 1px solid #454545;
      height: 40px;
      width: 50%;
      text-indent: 12px;
      border-radius: 12px;
    }
    button {
      color: #fff;
      background: #454545;
      border: 1px solid #fff;
      padding: 12px 42px;
      border-radius: 12px;
      font-family: Manrope;
      font-size: 14px;
      font-weight: 600;
      transition: 0.3s;
      &:hover {
        background: #fff;
        color: #454545;
      }
    }
  }
}
