.products_page {
  padding: 0 0 100px;
  .content {
    h1 {
      font-family: Manrope;
      font-size: 40px;
      font-weight: 700;
      line-height: 54.64px;
      text-align: left;
      color: #454545;
      padding-bottom: 60px;
      padding-top: 25px;
    }
  }
}
