.wishlist_page {
  .content {
    h1 {
      font-family: Manrope;
      font-size: 64px;
      font-weight: 700;
      line-height: 70.4px;
      text-align: left;
      color: #454545;
      padding: 40px 0 37px;
    }
  }
}
