@font-face {
  font-family: Manrope;
  src: url(../assets/fonts/Manrope-Regular.ttf);
}
@font-face {
  font-family: Inter;
  src: url(../assets/fonts/Inter-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1340px;
  padding: 0 20px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

button {
  border: 0;
  cursor: pointer;
  background: transparent;
}

@import "./routes/admin";
@import "./routes/login";
@import "./static/banner";
@import "./static/btn";
@import "./static/card";
@import "./static/title";
@import "./components/catalog";
@import "./components/header";
@import "./components/model";
@import "./components/navbarTop";
@import "./components/nornlight";
@import "./components/mapProducts";
@import "./components/empty";
@import "./components/skileton";
@import "./components/loading";
@import "./components/NotFound";
@import "./components/clickPaymentProduct";
@import "./components/brends";
@import "./components/blog";
@import "./components/desc";
@import "./components/footer";
@import "./routes/detail";
@import "./routes/about";
@import "./routes/shipping";
@import "./routes/return";
@import "./routes/admin";
@import "./routes/blogPage";
@import "./routes/garant";
@import "./routes/contact";
@import "./routes/wishlist";
@import "./routes/products";
@import "./routes/detail";
@import "./routes/basket";
@import "./routes/catalog";
